<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Slackside+One&Spline+Sans+Mono:wght@400;700&display=swap&display=swap"
      rel="stylesheet"
    />
    <link href="/assets/reset.css" />
    <link href="/assets/tashidele.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>Timothy Eaton's Site | Operations, Full Stack Developer</title>
    <link
      rel="alternate"
      type="application/atom+xml"
      href="https://freek.dev/feed"
      title="freek.dev - all blogposts"
    />
    <meta
      name="description"
      content="Timothy is part-time employed as a teacher in SUP de Vinci, France ."
    />

    <!-- Set up OG  

    <meta property="og:site_name" content="freek.dev">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="Freek Van der Herten is a Laravel enthusiast and PHP developer at Spatie.">
    <meta property="og:url" content="https://freek.dev">
    <meta property="og:image" content="https://freek.dev/images/avatar-boxed.jpg"/>
	
    <script type='application/ld+json'>
    {
        "@context":"http:\/\/schema.org",
        "@type":"WebSite",
        "@id":"#website",
        "url":"https:\/\/freek.dev\/",
        "name":"freek.dev",
        "alternateName":"A blog on modern PHP and Laravel"
    }

    </script>
    <script type='application/ld+json'>
    {
        "@context":"http:\/\/schema.org",
        "@type":"Person",
        "sameAs":["https:\/\/twitter.com\/freekmurze"],
        "@id":"#person",
        "name":"Freek Van der Herten"
    }

    </script>



  <link
    rel="preload"
    as="style"
    href="https://freek.dev/build/assets/app.93d0770d.css"
  /><link
    rel="modulepreload"
    href="https://freek.dev/build/assets/app.0a57ea62.js"
  /><link
    rel="stylesheet"
    href="https://freek.dev/build/assets/app.93d0770d.css"
    data-navigate-track="reload"
  /><script
    type="module"
    src="https://freek.dev/build/assets/app.0a57ea62.js"
    data-navigate-track="reload"></script>
  <link
    rel="stylesheet"
    href="https://cloud.typography.com/6194432/6581412/css/fonts.css"
  />
  <link href="https://twitter.com/freekmurze" rel="me" />
  <link rel="webmention" href="https://webmention.io/freek.dev/webmention" />
  <link rel="pingback" href="https://webmention.io/freek.dev/xmlrpc" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"
  />
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"
  ></script>
	//-->
  </head>
  <body>
    <section class="decoration dark">
      <h1>Timothy Eaton</h1>
    </section>

    <section class="intro-text">
      <p>
        You don’t know the power of the dark side. From here you will witness
        the final destruction of the Alliance and the end of your insignificant
        rebellion. Impressive. Most impressive. Obi-Wan has taught you well. You
        have controlled your fear. Now, release your anger. Only your hatred can
        destroy me. All I am surrounded by is fear, and dead men! Be careful not
        to choke on your aspirations, Director.
      </p>
      <p>
        I am altering the deal. Pray, I don't alter it any further. Indeed you
        are powerful, as the Emperor has foreseen. The Emperor will show you the
        true nature of the Force. He is your Master now. I am the Senate. We
        must move quickly. The Jedi are relentless. If they are not all
        destroyed, it will be civil war without end. You must break through the
        fog of lies the Jedi have created around you. const me help you to know
        the subtconsties of the Force. From here you will witness the final
        destruction of the Alliance and the end of your insignificant rebellion.
      </p>
      <p>
        Search your feelings, Lord Vader. You will know it to be true. He could
        destroy us. You need a teacher. I could show you the ways of the force.
        I have waited a long time for this moment, my little green friend. At
        last, the Jedi are no more. Are you threatening me, Master Jedi? I'm
        looking forward to compconsting your training. In time you will call me
        master.
        <p>Nothing will stand in our way. I will finish what you started.</p>
      </p>
    </section>
  </body>
</html>
