---
import MainCeiling from "./MainCeiling.astro";
import MainFloor from "./MainFloor.astro";
import "../styles/tashidele.css";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image = "/cartoon.png" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Slackside+One&Spline+Sans+Mono:wght@400;700&display=swap&display=swap"
      rel="stylesheet"
    />
    <link href="/assets/reset.css" />
    <link href="/assets/tashidele.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>Timothy Eaton's Site | Operations, Full Stack Developer</title>
    <meta
      name="description"
      content="Timothy is part-time employed as a teacher in SUP de Vinci, France ."
    />
    <MainCeiling />
  </head>

  <article>
    <slot />
  </article>

  <MainFloor />
</html>
